langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
PyMuPDF
langchain-text-splitters
langchain-openai
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
langserve
arxiv
pymupdf
SQLAlchemy
mysql-connector-python